html {
	margin:0;
}

body {
	margin:0;
	padding:0;
	
	background:url(../images/bg.png) no-repeat top center;
	background-size:auto;
	
	font: normal 100%/1 Arial, Helvetica, sans-serif;
}

#header {
	width:100%;
	height:8em;
	
	background-color:rgba(255,255,255,0.5);	
}

#header img {
	margin: 0 0 0 0.5%;	
}

#map img {
	margin: 0 0 0 1.25%;
	padding: 1.25% 1.25% 1.25% 0;	
	
	float:left;	
	display:inline;
}

nav {
	margin:1.5em 0;	
}

nav a,
nav a:link,
nav a:visited {
	text-decoration:none;
	margin: 0 1em 0;
	padding:2% 28%;
	
	color:#000;
	
	background-color:#fbfb00;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);
	box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);	
}

nav a:hover,
nav a:focus,
nav a:active {
	background-color:#cfcf00;	
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);
	box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);	
}

#search {
	background-color:#fff;	
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin: 2% 0 0 4%;
	width: 33em;
	height: 2em;
	
	border: 2px solid #000;
	
}

article {
	float:left;	
	display:inline;
	
	background-color:rgba(255,255,255,0.5);	
	
	margin: 1.25% 0 0 0;
	width:25em;
	height:50em;
	
}

form {
	margin:4% 0 0 4%;
}

form div {
	margin:5% 0;	
}

p a {
	margin:0 3% 0 0;	
}

.edit-info {
	height:40em;	
}

.results {
	width:22em;
	height:32em;
	
	margin:2% 0 0 4%;
	padding:.65em .5em;
	background-color:#fff;	
}

#court-info {
	background-color:rgba(255,255,255,0.5);	
	margin:0;
	width:100%;
	height:40em;
}

.info {
	margin:2% 0 0 1.25%;
	padding:1.25% 0 0 0;		
}