@charset "utf-8";
/* CSS Document */

html {
	margin:0;
	background:url(../images/bg.jpg) repeat;
	background-size:100%;
}

body {
	margin:0;
	font: normal 110%/1.25  Tahoma, Geneva, sans-serif;	
}

li {
	margin-bottom:0.5em;	
}

ul {
	margin-left:-2.5em;
}

ul li {
	list-style-type:none;
}

.folders {
	text-indent:4em;
}

.subfolders {
	text-indent:2em;
	
}

h1 {
	margin:0;	
}

#openapp {
	margin:2.5em auto 0;
	padding:2.5em; 
	border: 5px solid #FC0;	
	width:900px;
	height:100%;
	background-color:#fff;
}
