html {
	margin:0;	
}

body {
	margin:0;
	
	background:url(../images/tcl-bg.jpg) no-repeat top center;
	background-size:100%;
	
	font: normal 100%/1 Arial, Helvetica, sans-serif;
}


#header {
	width:100%;
	height:25%;
	
	background-color:rgba(255,255,255,0.5);	
}

#header img {
	margin: 0 0 0 4.5%;	
}

#map{	
	position: absolute;
	left:5%;
	width: 59%;
	height:90%;
	background-color:#fff;
}

article {

	display:inline-block;
	
	background-color:rgba(255,255,255,0.5);	
	
	margin:0 0 0 65%;
	width:25%;
	height:90%;
	
}

section {
	margin:1.25% 0 0 0;	
}

ul {
	margin:5% auto 0;	
	padding:0;
	
	width: 100%;
}

#search {
	background-color:#fff;	
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	margin: 5% 0 0 4%;
	width: 90%;
	height: 2em;
	
	border: 2px solid #000;
	
}

nav {
	width:80%;
	margin:0 auto;
}

nav button {
	margin:4% 0 0 4%;
	padding:1.5% 5%;
	background-color:#fbfb00;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);
	box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .5);
}

.results {
	width:90%;
	height:70%;
	
	margin:2% 0 0 4%;
	padding:.65em .5em;
	background-color:#fff;	
}

#court-info {
	background-color:rgba(255,255,255,0.5);	
	margin:0;
	width:100%;
	height:40em;
}

.info {
	margin:2% 0 0 1.25%;
	padding:1.25% 0 0 0;		
}

h1 {
	margin:0;
	padding:0;	
}

.street {
	font-weight:bold;
}

p {
	margin:1em 0;
	padding:0;
}




